 <!--================Home Banner Area =================-->
 <section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div
          class="banner_content d-md-flex justify-content-between align-items-center"
        >
          <div class="mb-3 mb-md-0">
            <h2>Product Checkout</h2>
            <p>Very us move be blessed multiply night</p>
          </div>
          <div class="page_link">
            <a routerLink="Trang Chủ">Home</a>
            <a routerLink="Checkout">Product Checkout</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Home Banner Area =================-->

  <!--================Checkout Area =================-->
  <section class="checkout_area section_gap">
    <div class="container">
      <div class="returning_customer">
        <div class="check_title">
          <h2>
            Khách hàng cũ
            <a href="#">Login</a>
          </h2>
        </div>
        <p>
          Nếu bạn đã mua sắm với chúng tôi trước đây, vui lòng nhập thông tin chi tiết của bạn trong các hộp dưới đây. Nếu bạn là khách hàng mới, vui lòng truy cập phần Thanh toán & Vận chuyển.
        </p>
        <form
          class="row contact_form"
          action="#"
          method="post"
          novalidate="novalidate"
        >
          <div class="col-md-6 form-group p_star">
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              value=" "
            />
            <span
              class="placeholder"
              data-placeholder="Username or Email"
            ></span>
          </div>
          <div class="col-md-6 form-group p_star">
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              value=""
            />
            <span class="placeholder" data-placeholder="Password"></span>
          </div>
          <div class="col-md-12 form-group">
            <button type="submit" value="submit" class="btn submit_btn">
              Gửi tin nhắn
            </button>
            <div class="creat_account">
              <input type="checkbox" id="f-option" name="selector" />
              <label for="f-option">Ghi nhớ</label>
            </div>
            <a class="lost_pass" href="#">Tìm lại mật khẩu</a>
          </div>
        </form>
      </div>
      <div class="cupon_area">
        <div class="check_title">
          <h2>
           Mã Giảm giá 
            <a href="#">Tìm mã giảm</a>
          </h2>
        </div>
        <input type="text" placeholder="Nhập mã giảm giá ở đây" />
        <a class="tp_btn" href="#">Apply Coupon</a>
      </div>
      <div class="billing_details">
        <div class="row">
          <div class="col-lg-8">
            <h3>Chi tiết</h3>
            <form
              class="row contact_form"
              action="#"
              method="post"
              novalidate="novalidate"
            >
              <div class="col-md-6 form-group p_star">
                <input
                  type="text"
                  class="form-control"
                  id="first"
                  name="Tên"
                />
                <span
                  class="placeholder"
                  data-placeholder="Họ"
                ></span>
              </div>
              <div class="col-md-6 form-group p_star">
                <input
                  type="text"
                  class="form-control"
                  id="last"
                  name="name"
                />
                <span class="placeholder" data-placeholder="Tên"></span>
              </div>
              <div class="col-md-12 form-group">
                <input
                  type="text"
                  class="form-control"
                  id="company"
                  name="company"
                  placeholder="Công ty"
                />
              </div>
              <div class="col-md-6 form-group p_star">
                <input
                  type="text"
                  class="form-control"
                  id="number"
                  name="number"
                />
                <span
                  class="placeholder"
                  data-placeholder="Số điện Thoại"
                ></span>
              </div>
              <div class="col-md-6 form-group p_star">
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  name="compemailany"
                />
                <span
                  class="placeholder"
                  data-placeholder="Email "
                ></span>
              </div>
              <div class="col-md-12 form-group p_star">
                <select class="country_select">
                  <option value="1">Country</option>
                  <option value="2">Country</option>
                  <option value="4">Country</option>
                </select>
              </div>
              <div class="col-md-12 form-group p_star">
                <input
                  type="text"
                  class="form-control"
                  id="add1"
                  name="add1"
                />
                <span
                  class="placeholder"
                  data-placeholder="Địa chỉ 1"
                ></span>
              </div>
              <div class="col-md-12 form-group p_star">
                <input
                  type="text"
                  class="form-control"
                  id="add2"
                  name="add2"
                />
                <span
                  class="placeholder"
                  data-placeholder="Địa chỉ 2"
                ></span>
              </div>
              <div class="col-md-12 form-group p_star">
                <input
                  type="text"
                  class="form-control"
                  id="city"
                  name="city"
                />
                <span class="placeholder" data-placeholder="Town/City"></span>
              </div>
              <div class="col-md-12 form-group p_star">
                <select class="country_select">
                  <option value="1">Đường</option>
                  <option value="2">Đường</option>
                  <option value="4">Đường</option>
                </select>
              </div>
              <div class="col-md-12 form-group">
                <input
                  type="text"
                  class="form-control"
                  id="zip"
                  name="zip"
                  placeholder="Postcode/ZIP"
                />
              </div>
              <div class="col-md-12 form-group">
                <div class="creat_account">
                  <input type="checkbox" id="f-option2" name="selector" />
                  <label for="f-option2">Tạo tài khoản</label>
                </div>
              </div>
              <div class="col-md-12 form-group">
                <div class="creat_account">
                  <h3>Shipping Details</h3>
                  <input type="checkbox" id="f-option3" name="selector" />
                  <label for="f-option3">Ship to a different address?</label>
                </div>
                <textarea
                  class="form-control"
                  name="message"
                  id="message"
                  rows="1"
                  placeholder="Order Notes"
                ></textarea>
              </div>
            </form>
          </div>
          <div class="col-lg-4">
            <div class="order_box">
              <h2>Your Order</h2>
              <ul class="list">
                <li>
                  <a href="#"
                    >Đơn Hàng
                    <span>Loại</span>
                  </a>
                </li>
                <li>
                  <a href="#"
                    >Áo khoác jean
                    <span class="middle">x 02</span>
                    <span class="last">720.000 VNĐ</span>
                  </a>
                </li>
                <li>
                  <a href="#"
                    >Giày
                    <span class="middle">x 02</span>
                    <span class="last">720.000 VNĐ</span>
                  </a>
                </li>
                <li>
                  <a href="#"
                    >Vớ
                    <span class="middle">x 02</span>
                    <span class="last">720.000 VNĐ</span>
                  </a>
                </li>
              </ul>
              <ul class="list list_2">
                <li>
                  <a href="#"
                    >Tổng tiền
                    <span>2.160.000 VNĐ</span>
                  </a>
                </li>
                <li>
                  <a href="#"
                    >Tiền ship
                    <span>Flat rate: 50.000 VNĐ</span>
                  </a>
                </li>
                <li>
                  <a href="#"
                    >Tổng tiền
                    <span>2.210.000 VNĐ</span>
                  </a>
                </li>
              </ul>
              <div class="payment_item">
                <div class="radion_btn">
                  <input type="radio" id="f-option5" name="selector" />
                  <label for="f-option5">Thanh Toán</label>
                  <div class="check"></div>
                </div>
                <p>
                  Địa chỉ gửi
                </p>
              </div>
              <div class="payment_item active">
                <div class="radion_btn">
                  <input type="radio" id="f-option6" name="selector" />
                  <label for="f-option6">Paypal </label>
                  <img src="assets/img/product/single-product/card.jpg" alt="" />
                  <div class="check"></div>
                </div>
                <p>
                 Địa chỉ
                </p>
              </div>
              <div class="creat_account">
                <input type="checkbox" id="f-option4" name="selector" />
                <label for="f-option4">Tui đã đọc</label>
                <a href="#">Điều khoản & Chính sách*</a>
              </div>
              <a class="main_btn" href="#">Tiến Hành Thanh Toán</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Checkout Area =================-->