 <!--================Home Banner Area =================-->
 <section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div class="banner_content d-md-flex justify-content-between align-items-center">
          <div class="mb-3 mb-md-0">
            <h2>Shop Category</h2>
            <p>Very us move be blessed multiply night</p>
          </div>
          <div class="page_link">
            <a routerLink="Trang Chủ">Home</a>
            <a routerLink="Giỏ Hàng">Shop</a>
            <a routerLink="Giỏ Hàng">Men Fashion</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Home Banner Area =================-->

  <!--================Category Product Area =================-->
  <section class="cat_product_area section_gap">
    <div class="container">
      <div class="row flex-row-reverse">
        <div class="col-lg-9">
          <div class="product_top_bar">
            <div class="left_dorp">
              <select class="sorting">
                <option value="1">Default sorting</option>
                <option value="2">Default sorting 01</option>
                <option value="4">Default sorting 02</option>
              </select>
              <select class="show">
                <option value="1">Show 12</option>
                <option value="2">Show 14</option>
                <option value="4">Show 16</option>
              </select>
            </div>
          </div>
          
          <div class="latest_product_inner">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="single-product">
                  <div class="product-img">
                    <img
                      class="card-img"
                      src="assets/img/hinhanh/ao-khoac-jean-ak263-15855-p.png"
                      alt=""
                    />
                    <div class="p_icon">
                      <a routerLink="Single-product">
                        <i class="ti-eye"></i>
                      </a>
                      <a href="#">
                        <i class="ti-heart"></i>
                      </a>
                      <a href="#">
                        <i class="ti-shopping-cart"></i>
                      </a>
                    </div>
                  </div>
                  <div class="product-btm">
                    <a href="#" class="d-block">
                      <h4>Áo khoác Jean</h4>
                    </a>
                    <div class="mt-3">
                      <span class="mr-4">725.000 VNĐ</span>
                      <del>935.000 VNĐ</del>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6">
                <div class="single-product">
                  <div class="product-img">
                    <img
                      class="card-img"
                      src="assets/img/hinhanh/ao-thun-regular-in-at073-20545-p.jfif"
                      alt=""
                    />
                    <div class="p_icon">
                      <a href="#">
                        <i class="ti-eye"></i>
                      </a>
                      <a href="#">
                        <i class="ti-heart"></i>
                      </a>
                      <a href="#">
                        <i class="ti-shopping-cart"></i>
                      </a>
                    </div>
                  </div>
                  <div class="product-btm">
                    <a href="#" class="d-block">
                      <h4>Áo thun nam</h4>
                    </a>
                    <div class="mt-3">
                      <span class="mr-4">250.000 VNĐ</span>
                      <del>350.000 VNĐ</del>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6">
                <div class="single-product">
                  <div class="product-img">
                    <img
                      class="card-img"
                      src="assets/img/hinhanh/ao-thun-regular-in-at078-20569-p.jfif"
                      alt=""
                    />
                    <div class="p_icon">
                      <a href="#">
                        <i class="ti-eye"></i>
                      </a>
                      <a href="#">
                        <i class="ti-heart"></i>
                      </a>
                      <a href="#">
                        <i class="ti-shopping-cart"></i>
                      </a>
                    </div>
                  </div>
                  <div class="product-btm">
                    <a href="#" class="d-block">
                      <h4>Áo Thun Đen</h4>
                    </a>
                    <div class="mt-3">
                      <span class="mr-4">250.000 VNĐ</span>
                      <del>350.000 VNĐ</del>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6">
                <div class="single-product">
                  <div class="product-img">
                    <img
                      class="card-img"
                      src="assets/img/hinhanh/ao-thun-regular-in-at083-20578-p.jfif"
                      alt=""
                    />
                    <div class="p_icon">
                      <a href="#">
                        <i class="ti-eye"></i>
                      </a>
                      <a href="#">
                        <i class="ti-heart"></i>
                      </a>
                      <a href="#">
                        <i class="ti-shopping-cart"></i>
                      </a>
                    </div>
                  </div>
                  <div class="product-btm">
                    <a href="#" class="d-block">
                      <h4>Áo Thun Nam Có Hình Ảnh</h4>
                    </a>
                    <div class="mt-3">
                      <span class="mr-4">250.000 VNĐ</span>
                      <del>350.000 VNĐ</del>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6">
                <div class="single-product">
                  <div class="product-img">
                    <img
                      class="card-img"
                      src="assets/img/hinhanh/ao-thun-regular-in-at073-20545-p.jfif"
                      alt=""
                    />
                    <div class="p_icon">
                      <a href="#">
                        <i class="ti-eye"></i>
                      </a>
                      <a href="#">
                        <i class="ti-heart"></i>
                      </a>
                      <a href="#">
                        <i class="ti-shopping-cart"></i>
                      </a>
                    </div>
                  </div>
                  <div class="product-btm">
                    <a href="#" class="d-block">
                      <h4>Áo Thun Nam Trơn</h4>
                    </a>
                    <div class="mt-3">
                      <span class="mr-4">250.000 VNĐ</span>
                      <del>350.000 VNĐ</del>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6">
                <div class="single-product">
                  <div class="product-img">
                    <img
                      class="card-img"
                      src="assets/img/hinhanh/dong-ho-casio-mtp-1374l-1avdf-nam-pin-day-da-a.jpg"
                      alt=""
                    />
                    <div class="p_icon">
                      <a href="#">
                        <i class="ti-eye"></i>
                      </a>
                      <a href="#">
                        <i class="ti-heart"></i>
                      </a>
                      <a href="#">
                        <i class="ti-shopping-cart"></i>
                      </a>
                    </div>
                  </div>
                  <div class="product-btm">
                    <a href="#" class="d-block">
                      <h4>Đồng Hồ Nam</h4>
                    </a>
                    <div class="mt-3">
                      <span class="mr-4">250.000 VNĐ</span>
                      <del>350.000 VNĐ</del>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6">
                <div class="single-product">
                  <div class="product-img">
                    <img
                      class="card-img"
                      src="assets/img/hinhanh/vi-da-dang-ngang-bv015-19013-p.png"
                      alt=""
                    />
                    <div class="p_icon">
                      <a href="#">
                        <i class="ti-eye"></i>
                      </a>
                      <a href="#">
                        <i class="ti-heart"></i>
                      </a>
                      <a href="#">
                        <i class="ti-shopping-cart"></i>
                      </a>
                    </div>
                  </div>
                  <div class="product-btm">
                    <a href="#" class="d-block">
                      <h4>Ví Da</h4>
                    </a>
                    <div class="mt-3">
                      <span class="mr-4">250.000 VNĐ</span>
                      <del>350.000 VNĐ</del>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6">
                <div class="single-product">
                  <div class="product-img">
                    <img
                      class="card-img"
                      src="assets/img/hinhanh/tl-khoa-tu-dong-084-mau-den-20255-p.jfif"
                      alt=""
                    />
                    <div class="p_icon">
                      <a href="#">
                        <i class="ti-eye"></i>
                      </a>
                      <a href="#">
                        <i class="ti-heart"></i>
                      </a>
                      <a href="#">
                        <i class="ti-shopping-cart"></i>
                      </a>
                    </div>
                  </div>
                  <div class="product-btm">
                    <a href="#" class="d-block">
                      <h4>Thắc Lưng Nam Tự Động</h4>
                    </a>
                    <div class="mt-3">
                      <span class="mr-4">250.000 VNĐ</span>
                      <del>350.000 VNĐ</del>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6">
                <div class="single-product">
                  <div class="product-img">
                    <img
                      class="card-img"
                      src="assets/img/hinhanh/quan-jogger-tui-dap-j006-20304-p.jfif"
                      alt=""
                    />
                    <div class="p_icon">
                      <a href="#">
                        <i class="ti-eye"></i>
                      </a>
                      <a href="#">
                        <i class="ti-heart"></i>
                      </a>
                      <a href="#">
                        <i class="ti-shopping-cart"></i>
                      </a>
                    </div>
                  </div>
                  <div class="product-btm">
                    <a href="#" class="d-block">
                      <h4>Quần Jogger Nam</h4>
                    </a>
                    <div class="mt-3">
                      <span class="mr-4">250.000 VNĐ</span>
                      <del>350.000 VNĐ</del>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="left_sidebar_area">
            <aside class="left_widgets p_filter_widgets">
              <div class="l_w_title">
                <h3>Browse Categories</h3>
              </div>
              <div class="widgets_inner">
                <ul class="list">
                  <li>
                    <a href="#">Áo Thun</a>
                  </li>
                  <li>
                    <a href="#">Áo Khoác</a>
                  </li>
                  <li>
                    <a href="#">Áo Polo</a>
                  </li>
                  <li>
                    <a href="#">Áo Sơ Mi</a>
                  </li>
                  <li>
                    <a href="#">Quần</a>
                  </li>
                  <li>
                    <a href="#">Phụ Kiện</a>
                  </li>
                  <li>
                    <a href="#">Giày</a>
                  </li>
                </ul>
              </div>
            </aside>

            <aside class="left_widgets p_filter_widgets">
              <div class="l_w_title">
                <h3>Product Brand</h3>
              </div>
              <div class="widgets_inner">
                <ul class="list">
                  <li>
                    <a href="#">Gucci</a>
                  </li>
                  <li>
                    <a href="#">Adidas</a>
                  </li>
                  <li class="active">
                    <a href="#">Nike</a>
                  </li>
                  <li>
                    <a href="#">Proto</a>
                  </li>
                  <li>
                    <a href="#">Samsung</a>
                  </li>
                </ul>
              </div>
            </aside>

            <aside class="left_widgets p_filter_widgets">
              <div class="l_w_title">
                <h3>Color Filter</h3>
              </div>
              <div class="widgets_inner">
                <ul class="list">
                  <li>
                    <a href="#">Đen</a>
                  </li>
                  <li>
                    <a href="#">xám</a>
                  </li>
                  <li class="active">
                    <a href="#">Đen phối đỏ</a>
                  </li>
                  <li>
                    <a href="#">Gold</a>
                  </li>
                  <li>
                    <a href="#">Nâu</a>
                  </li>
                </ul>
              </div>
            </aside>

            <aside class="left_widgets p_filter_widgets">
              <div class="l_w_title">
                <h3>Giá Cả</h3>
              </div>
              <div class="widgets_inner">
                <div class="range_item">
                  <div id="slider-range"></div>
                  <div class="">
                    <label for="amount">Price : </label>
                    <input type="text" id="amount" readonly />
                  </div>
                </div>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Category Product Area =================-->