<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div
          class="banner_content d-md-flex justify-content-between align-items-center"
        >
          <div class="mb-3 mb-md-0">
            <h2>Blog Details</h2>
            <p>Very us move be blessed multiply night</p>
          </div>
          <div class="page_link">
            <a href="index.html">Home</a>
            <a href="blog.html">Blog </a>
            <a href="single-blog.html">Blog Details</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Home Banner Area =================-->

  <!--================Blog Area =================-->
  <section class="blog_area single-post-area section_gap">
          <div class="container">
                  <div class="row">
                          <div class="col-lg-8 posts-list">
                                  <div class="single-post">
                                                  <div class="feature-img">
                                                          <img class="img-fluid" src="assets/img/blog/main-blog/m-blog-1.jpg" alt="">
                                                  </div>
                                          <div class="blog_details">
                                                  <h2>Lễ Hội mùa thu ở các quốc gia</h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><a href="#"><i class="ti-user"></i> Travel, Lifestyle</a></li>
                            <li><a href="#"><i class="ti-comments"></i> 03 Comments</a></li>
                          </ul>
                                                  <p class="excert">
                                                    Lễ hội mùa thu – xuất hiện giữa mùa hạ nóng bức và mùa đông lạnh lẽo, mùa thu mát dịu và mơ màng là nguồn cảm hứng bất tận của văn nhân, thi sĩ xưa nay.

                                                    Viết Thu vịnh và Đây mùa thu tới, Nguyễn Khuyến và Xuân Diệu đã đóng góp cho văn học sử nước nhà hai bài thơ hay về cảnh thu và tình thu. Với Tiếng thu, Lưu Trọng Lư viết thu thanh và đã dọn cho mình một chỗ ngồi khá độc đáo trên văn đàn của những thi sĩ mùa thu:
                                                    
                                                    
                                                  </p>
                                                  <p>
                                                    Em không nghe mùa thu
                                                    Dưới trăng mờ thổn thức?
                                                    Em không nghe rạo rực
                                                    Hình ảnh kẻ chinh phu
                                                    Trong lòng người cô phụ?
                                                    
                                                    *
                                                    
                                                    Em không nghe rừng thu
                                                    Lá thu kêu xào xạc
                                                    Con nai vàng ngơ ngác
                                                    Đạp trên lá vàng khô. </p>
                        <div class="quote-wrapper">
                          <div class="quotes">
                            Nên suy gẫm xác định : Lễ Hội .

                            – Lễ : Nền tảng của Lễ là Trí sáng suốt và chữ Tín : không thất tín, ngộ nhận, sáng tỏ âm dương : thiện ác, đúng sai, lợi hại, chánh tà…vậy Lễ là biết trật tự–biến thành năng lượng(đệ II xác thân) gắn với nhạc là Hòa trong mạng lưới năng lượng của vũ trụ, trong đời sống hiện hữu(đệ III xác thân).
                            
                            – Hội : tụ lại  soi sáng quy luật tự nhiên, là con người tĩnh thức (đệ I xác thân ).
                            
                            Vậy Lễ Hội là khám phá — là thưởng thức,trãi nghiệm,chia sẽ –là thăng hoa tinh thần giữa thế nhân, vạn vật và vũ trụ (Nguồn cội).
                            
                            Từ xa xưa con người đã biết rất nhiều các ngày của lễ hội với nhiều hình thức khác nhau (đã có đến hàng ngàn) thường chú trọng hình thức mà nội dung ý nghĩa chưa tới mức để làm bùng nổ lòng người (chuyển hóa) để (tiến hóa).
                          </div>
                        </div>
                        
                        
                        <p>
                          1 /Ngày 15/7 AL :  – Trung ngươn : Độ dẫn .

                          –          Lễ Vu lan ( báo hiếu ) —đến Đại ân xá (xuất hiện 1926)
                          
                          –          Từ vạn vật đồng sanh: Có tôn trọng– mới biết ơn –mới báo ơn .
                          
                          Đó là đại pháp của nhân loại, tính nhân bản của con người đạo đức vượt qua, chuyển hóa thất tình để sống trong chân thiện mỹ.(cơ hội)

                        </p>
                        <p>
                          2/Ngày 15/8 AL :

                          –          Tết Trung Thu –Tết Nhi Đồng: được ăn bánh trung thu: Vuông,Tròn, làm đốt lòng đèn, ca hát, nhảy múa … như(trẻ con)
                          
                          –          Đại Lễ Hội Yến Diêu Trì : Là một trong ba bí pháp để tại thế — hiến dâng hoa quả (âm dương) – đủ 3+9=12 .(công thức)
                          
                          Lại nói về tích cũ dâng 4 quả đào tiên thể hiện nhân loại trải qua 4 nền Văn minh: văn minh nông nghiệp(lúa nước), văn minh công nghiêp(cơ khí), văn minh vi điện tử(cuối thế kỷ 20 đầu thế kỷ 21) và nền văn minh tâm linh(đang bắt đầu). Còn ở trong con người là năng lượng (Thần, Thánh, Tiên, Phật.)
                          
                          Vậy là khi con người sáng tỏ âm dương, vượt thoát khỏi âm dương (là Năng lượng – đệ II xác thân) rồi hòa nhập lại với âm dương (đời sống đạo đức tinh thần) là sự tái sanh (như trẻ con)….chính là: Vô vi thể hiện hữu vi (kiểm chứng tại thế).
                        </p>
                                          </div>
                </div>
                <div class="navigation-top">
                  <div class="d-sm-flex justify-content-between text-center">
                    <p class="like-info"><span class="align-middle"><i class="ti-heart"></i></span> Lily and 4 people like this</p>
                    <div class="col-sm-4 text-center my-2 my-sm-0">
                      <p class="comment-count"><span class="align-middle"><i class="ti-comment"></i></span> 06 Comments</p>
                    </div>
                    <ul class="social-icons">
                      <li><a href="#"><i class="ti-facebook"></i></a></li>
                      <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                      <li><a href="#"><i class="ti-dribbble"></i></a></li>
                      <li><a href="#"><i class="ti-wordpress"></i></a></li>
                    </ul>
                  </div>

                  <div class="navigation-area">
                      <div class="row">
                          <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                              <div class="thumb">
                                  <a href="#">
                                      <img class="img-fluid" src="assets/img/blog/prev.jpg" alt="">
                                  </a>
                              </div>
                              <div class="arrow">
                                  <a href="#">
                                      <span class="ti-arrow-left text-white"></span>
                                  </a>
                              </div>
                              <div class="detials">
                                  <p>Prev Post</p>
                                  <a href="#">
                                      <h4>Không gian thoáng mát đà lạt</h4>
                                  </a>
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                              <div class="detials">
                                  <p>Next Post</p>
                                  <a href="#">
                                      <h4>Telescopes 101</h4>
                                  </a>
                              </div>
                              <div class="arrow">
                                  <a href="#">
                                      <span class="ti-arrow-right text-white"></span>
                                  </a>
                              </div>
                              <div class="thumb">
                                  <a href="#">
                                      <img class="img-fluid" src="assets/img/blog/next.jpg" alt="">
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
                
                
                <div class="blog-author">
                  <div class="media align-items-center">
                    <img src="assets/img/blog/author.png" alt="">
                    <div class="media-body">
                      <a href="#">
                        <h4>Thanh Phương</h4>
                      </a>
                      <p>Quả là bài viết bổ ích</p>
                    </div>
                  </div>
                </div>

                                  <div class="comments-area">
                                          <h4>05 Comments</h4>
                                          <div class="comment-list">
                      <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                            <div class="thumb">
                                <img src="assets/img/blog/c1.png" alt="">
                            </div>
                            <div class="desc">
                                <p class="comment">
                                 Jonny Đặng
                                </p>

                                <div class="d-flex justify-content-between">
                                  <div class="d-flex align-items-center">
                                    <h5>
                                      <a href="#">Tui rất quan tâm tới việt nam</a>
                                    </h5>
                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                  </div>

                                  <div class="reply-btn">
                                    <a href="#" class="btn-reply text-uppercase">reply</a>
                                  </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                                          </div>
                                          <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="assets/img/blog/c2.png" alt="">
                                </div>
                                <div class="desc">
                                    <p class="comment">
                                     Khoa Pug
                                    </p>
  
                                    <div class="d-flex justify-content-between">
                                      <div class="d-flex align-items-center">
                                        <h5>
                                          <a href="#">Tui sẽ trải nghiệm thử</a>
                                        </h5>
                                        <p class="date">December 4, 2017 at 3:12 pm </p>
                                      </div>
  
                                      <div class="reply-btn">
                                        <a href="#" class="btn-reply text-uppercase">reply</a>
                                      </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                                          </div>
                                          <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="assets/img/blog/c3.png" alt="">
                                </div>
                                <div class="desc">
                                    <p class="comment">
                                      Multiply sea night grass fourth day sea lesser rule open subdue female fill which them Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser 
                                    </p>
  
                                    <div class="d-flex justify-content-between">
                                      <div class="d-flex align-items-center">
                                        <h5>
                                          <a href="#">Emilly Blunt</a>
                                        </h5>
                                        <p class="date">December 4, 2017 at 3:12 pm </p>
                                      </div>
  
                                      <div class="reply-btn">
                                        <a href="#" class="btn-reply text-uppercase">reply</a>
                                      </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                                          </div>
                                  </div>
                                  <div class="comment-form">
                                          <h4>Leave a Reply</h4>
                                          <form class="form-contact comment_form" action="#" id="commentForm">
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group">
                              <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9" placeholder="Write Comment"></textarea>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <input class="form-control" name="name" id="name" type="text" placeholder="Name">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <input class="form-control" name="email" id="email" type="email" placeholder="Email">
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <input class="form-control" name="website" id="website" type="text" placeholder="Website">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <button type="submit" class="main_btn">Send Message</button>
                      </div>
                    </form>
                                  </div>
                          </div>
                          <div class="col-lg-4">
              <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <form action="#">
                          <div class="form-group">
                            <div class="input-group mb-3">
                              <input type="text" class="form-control" placeholder="Search Keyword">
                              <div class="input-group-append">
                                <button class="btn" type="button"><i class="ti-search"></i></button>
                              </div>
                            </div>
                          </div>
                          <button class="main_btn rounded-0 w-100" type="submit">Search</button>
                        </form>
                    </aside>

                    <aside class="single_sidebar_widget post_category_widget">
                      <h4 class="widget_title">Category</h4>
                      <ul class="list cat-list">
                          <li>
                              <a href="#" class="d-flex">
                                  <p>Resaurant food</p>
                                  <p>(37)</p>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="d-flex">
                                  <p>Travel news</p>
                                  <p>(10)</p>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="d-flex">
                                  <p>Modern technology</p>
                                  <p>(03)</p>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="d-flex">
                                  <p>Product</p>
                                  <p>(11)</p>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="d-flex">
                                  <p>Inspiration</p>
                                  <p>(21)</p>
                              </a>
                          </li>
                          <li>
                              <a href="#" class="d-flex">
                                  <p>Health Care</p>
                                  <p>(21)</p>
                              </a>
                          </li>
                      </ul>
                    </aside>

                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Recent Post</h3>
                        <div class="media post_item">
                            <img src="assets/img/blog/popular-post/post1.jpg" alt="post">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>From life was you fish...</h3>
                                </a>
                                <p>January 12, 2019</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="assets/img/blog/popular-post/post2.jpg" alt="post">                              
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>The Amazing Hubble</h3>
                                </a>
                                <p>02 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="assets/img/blog/popular-post/post3.jpg" alt="post">                              
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>Astronomy Or Astrology</h3>
                                </a>
                                <p>03 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="assets/img/blog/popular-post/post4.jpg" alt="post">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>Asteroids telescope</h3>
                                </a>
                                <p>01 Hours ago</p>
                            </div>
                        </div>
                    </aside>
                    <aside class="single_sidebar_widget tag_cloud_widget">
                        <h4 class="widget_title">Tag Clouds</h4>
                        <ul class="list">
                            <li>
                                <a href="#">project</a>
                            </li>
                            <li>
                                <a href="#">love</a>
                            </li>
                            <li>
                                <a href="#">technology</a>
                            </li>
                            <li>
                                <a href="#">travel</a>
                            </li>
                            <li>
                                <a href="#">restaurant</a>
                            </li>
                            <li>
                                <a href="#">life style</a>
                            </li>
                            <li>
                                <a href="#">design</a>
                            </li>
                            <li>
                                <a href="#">illustration</a>
                            </li>
                        </ul>
                    </aside>


                    <aside class="single_sidebar_widget instagram_feeds">
                      <h4 class="widget_title">Instagram Feeds</h4>
                      <ul class="instagram_row flex-wrap">
                          <li>
                              <a href="#">
                                <img class="img-fluid" src="assets/img/instagram/widget-i1.png" alt="">
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                <img class="img-fluid" src="assets/img/instagram/widget-i2.png" alt="">
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                <img class="img-fluid" src="assets/img/instagram/widget-i3.png" alt="">
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                <img class="img-fluid" src="assets/img/instagram/widget-i4.png" alt="">
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                <img class="img-fluid" src="assets/img/instagram/widget-i5.png" alt="">
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                <img class="img-fluid" src="assets/img/instagram/widget-i6.png" alt="">
                              </a>
                          </li>
                      </ul>
                    </aside>


                    <aside class="single_sidebar_widget newsletter_widget">
                      <h4 class="widget_title">Newsletter</h4>

                      <form action="#">
                        <div class="form-group">
                          <input type="email" class="form-control" placeholder="Enter email" required>
                        </div>
                        <button class="main_btn rounded-0 w-100" type="submit">Subscribe</button>
                      </form>
                    </aside>
                </div>
                          </div>
                  </div>
          </div>
  </section>
  <!--================Blog Area =================-->
